<section style="font-family: courier;">
    <h1>About Me</h1>
    <p>Hello, my name is Vasile Stadnitchii. I am a software developer with an interest
        in game programming. I like to program in C# but don't mind using other languages 
        such as C++ or Java. Feel free to view my projects by using the navigation bar above or download my resume.</p>
</section>

<section style="font-family: courier;">
    <h1>Contact</h1>
    <p><b>Email:</b> <a target="_blank" href="mailto:stadnitchii@gmail.com">stadnitchii@gmail.com</a></p>
    <p><b>Phone:</b> 301-992-4261</p>
    <a target="_blank" href = "https://github.com/Raptor2277" >GitHub</a>
    <a target="_blank"  href="https://linkedin.com/in/vasile-stadnitchii">LinkedIn</a>
</section>

<section style="font-family: courier;">
    <h1>Resume</h1>
    <a href = "Vasile_Stadnitchii_Resume.docx">Vasile_Stadnitchii_Resume.docx</a>
</section>

<section style="font-family: courier;">
    <h1>About This Site</h1>
    <p>This website was created for the purpose of showcasing my projects as well as demonstrating my 
        programming abilities. It is on <a target="_blank" href="https://github.com/Raptor2277/node-portfolio">GitHub</a> so please feel free to view the source code.
    </p>
</section>